.MyInfo {
  background-color: white;
  border-radius: 0.3125rem;
  font-size: 15px;
}
.MyInfoHeader {
  display: inline-block;
  margin-left: 1%;
  height: 8%;
  line-height: 3;
}
.MyInfoMain {
  height: 75%;
  width: 100%;
}
.MyInfoMain div {
  float: left;
}
.headPic {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userInfo {
  width: 68%;
  height: auto;
  margin-left: 2%;
  clear: right;
  margin-top: 2%;
}
.userinfo div {
  float: none !important;
}
.userInfo span {
  color: #909399;
}
.info td {
  height: 2.875rem;
}
ul li {
  margin-left: -1.3rem;
}
